/* screens size */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}
body{
    background-color: #F7F1E5;
}
/* nav bar */
nav {
    background-color: #4C4B16;
    height: 55px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    float: left;
}

li a {
    display: block;
    color: #E6E5A3;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Shadows Into Light';
    font-size: 15px;
}

li a:hover {
    background-color: #A9AF7E
}

li2 {
    float: right;
}

li2 a {
    display: block;
    color: #E6E5A3;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Alex Brush';
    font-size: 18px;
}

li2 a:hover {
    background-color: #A9AF7E
}

li3 {
    float: right;
}

li3 a {
    display: block;
    color: #E6E5A3;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
}

/*search*/
input[type=search] {
    width: 130px;
    box-sizing: border-box;
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
}

/* dropdown nav */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #E6E5A3;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Shadows Into Light';
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: #898121;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Shadows Into Light';
}

.dropdown-content a {
    float: none;
    color: #4C4B16;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* slide show (home page) */
* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 10000px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -20px;
    color: #E6E5A3;
    font-weight: bold;
    font-size: 14px;
    transition: 0.6s ease;
    border-radius: 0 2px 2px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.prev:hover,
.next:hover {
    background-color: #E7B10A;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #E7B10A;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #F7F1E5;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* model pop up (home page)*/
#my_modal h2 {
    margin: 0px;
}

#my_modal {
    width: 30%;
    height: 30%;
    border: 1px solid #4C4B16;
    box-sizing: border-box;
    padding: 0px 20px;
    text-align: center;
    background: #F7F1E5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    border-radius: 10px;
    z-index: 9;
}

.coupon {
    border: 5px dotted black;
    width: 70%;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 600px;
}

.container {
    padding: 2px 16px;
    background-color: #F7F1E5;
}

.promo {
    background: #F7F1E5;
    padding: 3px;
}

.expire {
    color: red;
}

#close-button {
    float: right;
}

/* model pop up2 (home page)*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.open-button {
    background-color: #4C4B16;
    color: #F7F1E5;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 15px;
    right: 28px;
    width: 150px;
    z-index: 9;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #4C4B16;
    z-index: 9;
    color: #F7F1E5;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: #4C4B16;
}

.form-container input[type=text1],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
}


.form-container .btn {
    background-color: #898121;
    color: #F7F1E5;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: #898121;
    text-align: center;
}
/*about the company*/
.About{
    width: 100%;
    padding: 60px 0px;
    background-color: #F7F1E5;
}

.About img{
    height: auto;
    width: 450px;
}

.About-discrition{
    width: 250px;
}

.main-about{
    width: 150px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*Image Overlay Fade(home page)*/
.Image-Overlay-Fade {
    background-color: #F7F1E5;
    display: flex;
}

.home {
    position: relative;
    width: 25%;
    height: 25%;
    padding: 10px;
    margin: 50px;
}

.image {
    width: 100%;
    height: 10%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.home:hover .image {
    opacity: 0.3;
}

.home:hover .middle-1 {
    opacity: 1;
}

.learn-more {
    background-color: #557153;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/* This code for product and basket*/
.shop-section {
    background-color: #F7F1E5;
    padding: 0 6px;
}

.cart-wrapper {
    overflow-y: auto;
    max-height: 350px;
    width: 24vw;
    margin: 30px;
}

.Checkout button {
    width: 100%;
    height: 70px;
    text-align: center;
    cursor: pointer;
    background-color: #4C4B16;
    font-size: large;
    color: #F7F1E5;
    margin: 10px auto;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
}

.subtotal {
    text-align: right;
    padding: 5%;
}

.cart-icon {
    color: #E6E5A3;
    padding-top: 18px;
    padding-right: 5px;
    font-size: 10px;
}

.cart-item {
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    padding: 5% 2%;
    border-bottom: solid 1px lightgray;
}


.cart-item img {
    width: 100%;
}

.cart-item .details {
    padding-left: 10%;
}

.cart-item h3 {
    text-align: left;
    margin-bottom: 5%;
}

.cart-item .price {
    display: block;
    text-align: right;
    margin-top: 35%;
}

.quantity {
    display: block;
    margin-top: 5%;
}

.fa-window-close {
    color: #E7B10A;
}

.cancel {
    text-align: right;
}

.whole-cart-window {
    border: solid lightgray 1px;
    border-top: none;
    position: fixed;
    top: 12vh;
    background-color: #fff;
    margin-right: 2%;
    font-size: 10px;
    z-index: 9;
}

.hide {
    display: none;
}

.non-empty::after {
    content: var(--after-content);
    font-size: 16px;
    width: 15px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: -20px;
    right: 20%;
    background-color: red;
    border-radius: 30px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    border: 2px solid #000000;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    justify-content: center;
    align-items: center;
}

.card-item img {
    width: 45%;
}

.card-item .details {
    text-align: center;
}

.card-item p,
.card-item h3 {
    margin-top: 10px;
}

.card-item span {
    display: block;
    margin-top: 10px;
}

.add-to-cart-btn {
    width: fit-content;
    margin: auto;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #4C4B16;
    border-radius: 3px;
    font-size: large;
    color: #F7F1E5
}

.share-plug-ins {
    padding: 6px;
    margin-right: auto;
}

/* Reviews and info and sign up form (review)(info)(sign up) */
input[type=text],select,textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #F5EBEB;
    border-radius: 20px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #F5EBEB;
    resize: vertical;
}

input[type=tel] {
    width: 100%;
    padding: 12px;
    border: 1px solid #F5EBEB;
    border-radius: 20px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4C4B16;
    color: #F7F1E5;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: unset;
}

button[onclick="getLocation()"] {
    background-color: #E7B10A;
    color: #F7F1E5;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: unset;
}

/* past Reviews (review) */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    background-clip: border-box;
    border: 1px solid;
    border-radius: 30px;
    padding: 10px;
    margin: 30px;
}

.card a {
    width: 100%;
    padding: 10px;
    background-color: #F7F1E5;
}

.card-head {
    padding: 15px;
    display: flex;
}

.card-head img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.card-head h5 {
    padding-bottom: 0;
}

.card-body p {
    font-family: sans-serif;
    font-size: 20px;
}

.star {
    font-size: 30px;
    color: #808080;
    cursor: pointer;
}

.star:hover,
.star:hover~.star {
    color: #E7B10A;
}


.stars1 {
    padding: 6px;
    margin-left: auto;
}

.stars1 i2 {
    color: #E7B10A;

}

.stars1 i3 {
    color: #808080;
}

/* User Rating (review) */
.total-rating {
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

.right {
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.bar {
    background-color: #E6E5A3;
    width: 100%;
    text-align: center;
}

.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #898121;
}

.bar-4 {
    width: 20%;
    height: 18px;
    background-color: #898121;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #898121;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #898121;
}

.bar-1 {
    width: 6%;
    height: 18px;
    background-color: #898121;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:10000px) {
    footer {
        position: static;
    }
}

.End-footer {
    background-color: #4C4B16;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 14px Shadows Into Light;
    padding: 50px 50px 60px 50px;
}

.End-footer .footer-left,
.End-footer .footer-center,
.End-footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

.End-footer .footer-left {
    width: 30%;
}

.footer-links a:hover {
    color: #E7B10A;
}

.End-footer h3 {
    color: #F7F1E5;
    font: 30px 'Alex Brush';
    margin: 0;
}


.End-footer h3 span {
    color: #E7B10A;
}

.End-footer .footer-links {
    color: #F7F1E5;
    margin: 20px 0 12px;
}

.End-footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.End-footer .footer-company-name {
    color: #F7F1E5;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.End-footer .footer-center {
    width: 35%;
}

.End-footer .footer-center i {
    background-color: #898121;
    color: #F7F1E5;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.End-footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.End-footer .footer-center p {
    display: inline-block;
    color: #F7F1E5;
    vertical-align: middle;
    margin: 0;
}

.End-footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.End-footer .footer-center p a {
    color: #E7B10A;
    text-decoration: none;
}

.End-footer .footer-right {
    width: 30%;
}

.End-footer .footer-company-about {
    line-height: 20px;
    color: #E6E5A3;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.End-footer .footer-company-about span {
    display: block;
    color: #F7F1E5;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.End-footer .footer-icons {
    margin-top: 25px;
}

.End-footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    color: #F7F1E5;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.End-footer .footer-icons a:hover {
    background-color: #E7B10A;
}